@import url(./style.css);

:root {
    --quote-border-color: #aaaaaa;
    --hr-color: #e0e0e1;
    --separator: #f0f0f0;
    --chevron-color: #000000;
    --orange-text: #F0681F;
    --orange-background: #F0681F55;
    --gray-background: #81858B;
    --gray-background-50: #81858B40;
}

hr {
    display: block;
    width: 100%;
    border: none;
    border-top: 1px solid var(--hr-color);
    overflow: visible;
    height: 1px;
}

figcaption {
    font-size: 0.8rem;
    font-weight: 400;
    text-align: center;
    opacity: 0.4;
}

.highlight {
    font-family: 'MD IO';
    font-weight: 900;
    color: var(--orange-text);
}

.wrapper h1 {
    max-width: 90%;
    font-size: 3rem;
    font-family: 'MD IO';
    font-weight: 900;
    line-height: 0.99;
}

.wrapper h2 {
    max-width: 80%;
}

.wrapper h3 {
    max-width: 80%;
}

.wrapper h4 {
    max-width: 80%;
}

.wrapper h5 {
    max-width: 80%;
}

.wrapper div {
    font-family: system-ui, -apple-system, SF Pro, 'SF Pro Text', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper {
    margin: 0px auto;
    max-width: 880px;
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.wrapper .inline-link {
    display: inline-flex;
    color: white;
    padding: 2px 10px;
    border-radius: 999px;
    background-color: var(--gray-background);
    font-size: 0.01rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    transform: translateY(-2px);
}

.quote {
    position: relative;
    padding: 16px 0 16px 24px;
    font-weight: 500;
    font-style: italic;
    opacity: 0.6;
}

.quote::before {
    content: "";
    position: absolute;
    left: 0;
    top: 16px;
    bottom: 16px;
    width: 0.1rem;
    background-color: var(--quote-border-color);
}

.code {
    margin: 0;
    padding: 16px;
    border-radius: 18px;
    background-color: ghostwhite;
    font-family: 'MD IO';
    font-size: small;
    font-weight: 500;
    color: #626265;
    overflow-x: auto;
}

.row {
    font-family: 'MD IO';
    font-size: small;
    font-weight: 500;
}

.code .row {
    margin: -0.15em;
    border-radius: 0;
    border: 0.1rem solid black;
}

.inline-code {
    font-family: 'MD IO';
    font-size: 0.8rem;
    font-weight: 700;
    color: inherit;
    padding: 2px 8px;
    background-color: var(--gray-background-50);
    border-radius: 4px;
}

.center {
    text-align: center;
}

.list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 1;
    row-gap: 16px;
    column-width: 100%;
}

.list .element {
    position: relative;
    padding: 0.4em 3em 0.4em 0em;
    border-bottom: 0.1rem solid var(--separator);
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

.list .element::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;

    background-color: var(--chevron-color);

    mask-image: url(../Resources/svg/chevron.right.svg);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;

    -webkit-mask-image: url(../Resources/svg/chevron.right.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;

    opacity: 0.7;
}

.list .element h4 {
    margin-bottom: 0.1em;
    text-transform: capitalize;
}

.list .element p {
    margin-top: 0;
    opacity: 0.6;
}

.empty1 {
    margin-top: 1em;
}

.empty2_5 {
    margin-top: 2.5em;
}

.empty5 {
    margin-top: 5em;
}

.hashtag {
    margin-left: 8px;
    padding: 4px 10px;
    border-radius: 999px;
    /* capsule */
    background-color: var(--orange-background);
    display: inline-flex;
    align-items: center;
    font-size: 0.8rem;
    line-height: 1;
    transform: translateY(-2px);
    color: var(--orange-text);
}

.hashtag::before {
    content: "#";
    font-size: inherit;
    line-height: inherit;
}

@media (prefers-color-scheme: dark) {
    :root {
        --quote-border-color: #626265;
        --hr-color: #404041;
        --separator: #303030;
        --chevron-color: #ffffff;
        --orange-text: #CB6D3A;
        --orange-background: #CB6D3A44;
        --gray-background: #494C52;
        --gray-background-50: #494C52A6;
    }
}