@import url(./style.css);

:root {
    --quote-border-color: #aaaaaa;
    --hr-color: #e0e0e1;
    --separator: #f0f0f0;
    --chevron-color: #000000;
    --orange-text: #F0681F;
}

hr {
    display: block;
    width: 100%;
    border: none;
    border-top: 1px solid var(--hr-color);
    overflow: visible;
    height: 1px;
}

.highlight {
    font-family: 'MD IO';
    font-weight: 900;
    color: var(--orange-text);
}

.wrapper h1 {
    max-width: 90%;
    font-size: 3rem;
    font-family: 'MD IO';
    font-weight: 900;
    line-height: 0.99;
}

.wrapper h2 {
    max-width: 80%;
}

.wrapper h3 {
    max-width: 80%;
}

.wrapper h4 {
    max-width: 80%;
}

.wrapper h5 {
    max-width: 80%;
}

.wrapper div {
    font-family: system-ui, -apple-system, SF Pro, 'SF Pro Text', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper {
    margin: 0px auto;
    max-width: 880px;
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.quote {
    position: relative;
    padding: 16px 0 16px 24px;
    font-weight: 500;
    font-style: italic;
    opacity: 0.6;
}

.quote::before {
    content: "";
    position: absolute;
    left: 0;
    top: 16px;
    bottom: 16px;
    width: 0.1rem;
    background-color: var(--quote-border-color);
}

.code {
    width: 100%;
    min-height: 50px;
    border-radius: 18px;
    background-color: ghostwhite;
    font-family: 'MD IO';
    font-size: small;
    font-weight: 500;
    align-content: center;
    padding: 16px;
    color: #626265;
}

.row {
    font-family: 'MD IO';
    font-size: small;
    font-weight: 500;
}

.code .row {
    margin: -0.15em;
    border-radius: 0;
    border: 0.1rem solid black;
}

.center {
    text-align: center;
}

.list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 1;
    row-gap: 16px;
    column-width: 100%;
}

.list .element {
    position: relative;
    padding: 0.4em 3em 0.4em 0em;
    border-bottom: 0.1rem solid var(--separator);
    cursor: pointer;
}

.list .element::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;

    background-color: var(--chevron-color);

    mask-image: url(../Resources/svg/chevron.right.svg);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;

    -webkit-mask-image: url(../Resources/svg/chevron.right.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;

    opacity: 0.7;
}

.list .element h3 {
    margin-bottom: 0.1em;
    /* reduce space below heading */
}

.list .element p {
    margin-top: 0;
    /* remove extra space above paragraph */
    opacity: 0.6;
}

.empty5 {
    margin-top: 5em;
}

@media (prefers-color-scheme: dark) {
    :root {
        --quote-border-color: #626265;
        --hr-color: #404041;
        --separator: #303030;
        --chevron-color: #ffffff;
        --orange-text: #CB6D3A;
    }
}