.video-container {
    position: relative;
    padding-top: 35px;
    padding-bottom: 48%;
    height: 0;
    overflow: hidden;

    & iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;    

        padding-bottom: 24px;
    }
}