@import url(/css/style.css);

/* ==========================================================================
   Posts
   ========================================================================== */
:root {
    --primary: hsl(0, 0%, 0%, 0.85);
    --secondary: hsl(0, 0%, 0%, 0.5);
    --tertiary: hsl(0, 0%, 0%, 0.25);
    --quaternary: hsl(0, 0%, 0%, 0.1);
    --quinary: hsl(0, 0%, 0%, 0.04);
}

.posts-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    padding: 1.8rem;
}

.post-card {
    padding: 1.25rem;
    border-radius: 16px;
    background: transparent;
    transition: transform .2s;
    border: 0.02rem solid var(--tertiary);

    & h3 {
        display: -webkit-box;
        line-clamp: 2;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;

        height: 40%;

        font-family: 'MD IO';
        font-size: 1.7rem;
        font-weight: 700;

        color: var(--secondary);
    }

    & a {
        text-decoration: none;
    }

    & p {
        height: 38%;

        font-family: system-ui, -apple-system, BlinkMacSystemFont,
            "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
        color: var(--primary);
        font-size: 0.9rem;
    }
}

.date-p {
    font-family: 'MD IO';
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--tertiary);
}

.date-span {
    font-family: 'MD IO';
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--tertiary);
}

.post-card:hover {
    transform: translateY(-8px);
    text-decoration: none;
    box-shadow: 0 1em 2em hsl(0, 0%, 0%, 0.04);
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary: hsl(0, 0%, 100%);
        --secondary: hsl(0, 0%, 100%, 0.55);
        --tertiary: hsl(0, 0%, 100%, 0.25);
        --quaternary: hsl(0, 0%, 100%, 0.1);
        --quinary: hsl(0, 0%, 100%, 0.04);
    }
}

@media (width < 640px) {
    .posts-grid {
        grid-template-columns: 1fr;
    }
}