@import url(./style.css);

/* ==========================================================================
   Posts
   ========================================================================== */
:root {
    --primary: rgba(0, 0, 0, 0.85);
    --secondary: rgba(0, 0, 0, 0.50);
    --tertiary: rgba(0, 0, 0, 0.25);
    --quaternary: rgba(0, 0, 0, 0.10);
}

.posts-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    padding: 1.8rem;
}

.post-card {
    padding: 1.25rem;
    border-radius: 16px;
    background: transparent;
    transition: transform .2s;
    border: 0.02rem solid var(--tertiary);
}

.post-card h3 {
    font-family: 'MD IO';
    font-size: 2rem;
    font-weight: 700;
    color: var(--secondary);
}

.post-card p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: var(--primary);
    font-size: 0.9rem;
}

.date-p {
    font-family: 'MD IO';
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--tertiary);
}

.date-span {
    font-family: 'MD IO';
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--tertiary);
}

.post-card:hover {
    transform: translateY(-4px);
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary: rgba(255, 255, 255, 0.85);
        --secondary: rgba(255, 255, 255, 0.55);
        --tertiary: rgba(255, 255, 255, 0.25);
        --quaternary: rgba(255, 255, 255, 0.10);
    }
}