<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if page.title %}
  <title>{{ page.title }} — {{ site.title }}</title>
  {% else %}
  <title>{{ site.title }}</title>
  {% endif %}

  {% seo %}
  
  <!-- <meta name="description" content="{{ page.description }}">
  <meta name="keywords" content="{{ page.keywords }}">
  <meta name="author" content="SwiftFoxx">

  <meta property="og:type" content="article">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:image" content="{{ site.og_image }}"> -->

  <link rel="icon" href="/favicon.ico">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/postsstyle.css">

  <script src="/js/nav-scroll.js" defer></script>
</head>
<body>

  {{ content }}

</body>
</html>